/* Estilo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app {
  padding: 20px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  padding: 10px 20px;
  border-bottom: 1px solid #333;
}

.logo {
  width: 32px;
}

.search-bar {
  width: 40%;
  padding: 8px;
  border-radius: 20px;
  border: none;
  background-color: #333;
  color: #fff;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

/* Títulos */
h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #ffffff;
}

/* Responsive Flexbox List */
.songs-list, .albums-list, .artists-list {
  display: grid;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.songs-list {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.albums-list, .artists-list {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

/* Song, Album, Artist Cards */
.song-card, .album-card, .artist-card {
  background-color: #1f1f1f;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: background-color 0.3s;
}

.song-card:hover, .album-card:hover, .artist-card:hover {
  background-color: #333;
}

.song-img, .album-img, .artist-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.song-title, .album-title, .artist-name {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}

.song-artist, .album-artist {
  color: #b3b3b3;
  font-size: 0.9rem;
}

/* Playback Bar */
.playback-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #181818;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid #333;
}

.playback-bar p {
  margin: 0;
}

/* Responsive Breakpoints */
@media (max-width: 700px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar {
    width: 100%;
    margin-top: 10px;
  }

  .songs-list, .albums-list, .artists-list {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .playback-bar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .controls {
    display: flex;
    gap: 10px;
  }
  
  .control-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  
  .control-btn:hover {
    color: #69d2cd;
  }